*{
    padding: 0;
    margin: 0;
    font-family: 'josefin sans', sans-serif;
    box-sizing: border-box;
    background-color: black;
}
.harun{
    height: 100vh;
    width: 100%;
    background-color: black;
    color: rgb(255, 255, 255);
    text-align: center;
    font-size:1000%;
    margin: 19px 19px; 
}
video{
    height: 100vh;
    width:101%;
}
